<script src="js/libraries/p5.js" type="text/javascript">
</script>

<script src="js/libraries/p5.dom.js" type="text/javascript"></script>
<script src="js/libraries/p5.sound.js" type="text/javascript"></script>

<div class="well">
    <ul>
        {{#each examples}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>