<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.sound.min.js"></script>

<div class="well col-md-12 col-xs-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h2>{{example.title}}</h2>
        </div>
        <div class="panel panel-body">
            <div id="showCanvas"></div>
            <script src="{{example.url}}"></script>
        </div>
    </div>
</div>