<div class="minesweeperHeaders">
        <h2>Replicated MineSweeper</h2>
        <h3>Try to see if you can win</h3>
    </div>

<div class="well">
    <canvas id="canvas" width="600" , height="600">
    </canvas>
</div>

<script src="/js/minesweeper/minesweeper.js"></script>
<script src="/js/minesweeper/render.js"></script>
<script src="/js/minesweeper/controller.js"></script>